<div class="modal" id="modal-js">
    <div class="modal-close">
        <a href="#" class="modal-close-link">
            <svg enable-background="new 0 0 100 100" class="modal-close-icon" version="1.1" viewBox="0 0 100 100" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><polygon fill="#208162" points="77.6,21.1 49.6,49.2 21.5,21.1 19.6,23 47.6,51.1 19.6,79.2 21.5,81.1 49.6,53 77.6,81.1 79.6,79.2   51.5,51.1 79.6,23 "/></svg>
        </a>
    </div>
    <div class="modal-wrapper">
        <div class="title-modal">
            <img src="%=static=%img/assets/header/logo.png" class="modal-logo" alt="">
        </div>
        <div class="modal-description">
            Оставьте заявку на бесплатную консультацию прямо сейчас и наш специалист перезвонит вам за 23 секунды.
        </div>
        <div class="modal-form">
            <form action="#" class="modal-form-container">
                <div class="form-row">
                    <input type="text" class="input-text" id="input-name-js" placeholder="Введите Ваше имя">
                </div>
                <div class="form-row">
                    <input type="tel" class="input-text" id="input-phone-js" placeholder="Введите Ваш телефон">
                </div>
                <div class="form-row">
                    <button class="modal-btn" type="submit">Заказать звонок</button>
                </div>
            </form>
        </div>
    </div>
</div>
