// Common styles of the project

html, body {
    background: url(%=static=%assets/body/body-bg.jpg) no-repeat;
    background-attachment: fixed;
    background-position: center bottom;
    -webkit-background-size: cover;
    background-size: cover;
    font-family: $gothamRegular;
    font-size: 16px;
    height: 100%;
}

html.active, html.active body{
    overflow: hidden;
}

.page {
    
}

.page__wrapper {
    min-height: 100%;
    margin-bottom: -50px;
}

* html .page__wrapper {
    height: 100%;
}

.page__buffer {
    height: 50px;
}

@media all and (max-width: 940px){
    html, body{
        background: url(%=static=%assets/body/body-bg.jpg) no-repeat;
        background-attachment: fixed;
        -webkit-background-size: cover;
        background-size: cover;
        background-position: center bottom;
    }
}