.title-page{
  position: relative;
  margin-bottom: 90px;
  width: 100%;
  z-index: 1;
}

.title-page-wrapper{
  max-width: 1200px;
  min-width: 290px;
  margin: 0 auto;
}

.page-title{
  color: $white;
  font-family: $gothamMedium;
  font-size: 3.125rem;
  font-weight: normal;
  margin: 0;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
  visibility: hidden;
}

.title-row{
  display: block;
  margin-bottom: 10px;
}

@media all and (max-width: 940px){
  .title-page{
    position: relative;
    margin-bottom: 40px;
  }

  .page-title{
    visibility: visible;
  }
}

@media all and (max-width: 860px){
    .page-title{
      font-size: 2.75rem;
    }
}

@media all and (max-width: 720px){
    .page-title{
      font-size: 2.5rem;
    }
}

@media all and (max-width: 540px){
  .page-title{
    font-size: 2rem;
  }
}

@media all and (max-width: 440px){
    .page-title{
      font-size: 1.75rem;
      margin-bottom: 40px;
    }
}

@media all and (max-width: 370px){
    .title-page-wrapper{
      margin: 0 20px;
    }
}