<header class="header">
    <div class="header-wrapper">
       <div class="logo">
           <a href="#" class="logo-link">
               <img class="logo-img" src="%=static=%img/assets/header/logo.png" alt="">
           </a>
       </div>
       <div class="navigation">
            <button class="toggle-nav"><span class="btn-text">Menu</span></button>
            <div class="nav">
                <ul class="navigation-menu">
                    <li class="navigation__item">
                        <a href="#" class="navigation__link">Номера и цены</a>
                    </li>
                    <li class="navigation__item">
                        <a href="#" class="navigation__link">Правила бронирования</a>
                    </li>
                    <li class="navigation__item">
                        <a href="#" class="navigation__link">Отзывы</a>
                    </li>
                    <li class="navigation__item">
                        <a href="#" class="navigation__link">Контакты</a>
                    </li>
                </ul>
            </div>
        </div>
       <div class="contacts">
           <div class="phone"><a href="tel:+79819819792" class="phone-link">+7 (981) 981 97 92</a></div>
           <div class="callback"><a href="#" class="callback-js">Заказать обратный звонок</a></div>
       </div>
    </div>
</header>
<div class="hidden-nav"></div>