.order{
  margin-bottom: 160px;
  position: relative;
  width: 100%;
  z-index: 1;
}

.order-wrapper{
  max-width: 1200px;
  min-width: 290px;
  margin: 0 auto;
  text-align: center;
}

.btn-green{
  background-color: $color-link-hover;
  border-radius: 100px;
  color: $white;
  font-family: $gothamBold;
  font-size: 1.25rem;
  padding: 30px 45px;
  text-transform: uppercase;
  text-decoration: none;

  -webkit-transition: all .35s ease;
  -moz-transition: all .35s ease;
  -o-transition: all .35s ease;
  transition: all .35s ease;
  visibility: hidden;

  &:hover{
    background-color: darken($color-link-hover, 10%);
  }
}

@media all and (max-width: 940px){
    .order{
      margin-bottom: 60px;
    }

    .btn-green{
      font-size: 1.15rem;
      padding: 20px 35px;
      visibility: visible;
    }
}

@media all and (max-width: 420px){
  .btn-green {
    font-size: 1rem;
    padding: 15px 25px;
  }
}