<div class="offers">
    <div class="offers-wrapper">
        <ul class="offers-list">
            <li class="offer-item wow fadeInDown" data-wow-duration=".35s" data-wow-delay=".5s" data-wow-iteration="1">
                <div class="offer-icon">
                    <i class="offer offer-mediator-icon"></i>
                </div>
                <div class="offer-title">без посредников</div>
            </li>
            <li class="offer-item wow fadeInDown" data-wow-duration=".35s" data-wow-delay=".85s" data-wow-iteration="1">
                <div class="offer-icon">
                    <i class="offer offer-comission-icon"></i>
                </div>
                <div class="offer-title">без комиссии</div>
            </li>
            <li class="offer-item wow fadeInDown" data-wow-duration=".35s" data-wow-delay="1.2s" data-wow-iteration="1">
                <div class="offer-icon">
                    <i class="offer offer-documents"></i>
                </div>
                <div class="offer-title">отчетные документы</div>
            </li>
            <li class="offer-item wow fadeInDown" data-wow-duration=".35s" data-wow-delay="1.55s" data-wow-iteration="1">
                <div class="offer-icon">
                    <i class="offer offer-metro-icon"></i>
                </div>
                <div class="offer-title">близость к метро</div>
            </li>
        </ul>
    </div>
</div>
